/* TO DO LIST */
.line_through {
  display: inline-block;
  color: #909090;
}

.line_through::before {
  content: "";
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  height: 2px;
  background-color: #909090;
  transform: translateY(3px);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.1rem;
  width: max-content;
  padding: 0.6rem 1.2rem;
  border-radius: 24px;
  border: none;
  background: #242429;
  color: #ccc;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.25),
    3px 3px 5px rgba(0, 0, 0, 0.75);
  transition: all 0.25s;
  white-space: nowrap;
  font-weight: 500;
}

.buttons:hover {
  box-shadow: 3px -3px 5px rgba(255, 255, 255, 0.25),
    -3px 3px 5px rgba(0, 0, 0, 0.75);
  background: #141420;
}

.buttons:focus {
  outline: none;
}

.buttons:active {
  background: #484864;
}

input:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #ccc !important;
  transition: background-color 9999s ease-in-out 0s !important;
  font-size: 1vw !important;
}

/* TIC TAC TOE */
.square {
  aspect-ratio: 1/1;
  border: #505050 solid 1px;
  border-radius: 0;
  width: 100px;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  width: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
